body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #004C57, #0F1F36);
}
form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    margin-left: -140px;
    font-weight: 600;
}
#square {
    background-color: #fffffff0;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    backdrop-filter: blur(5px); /* Agregar desenfoque */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Agregar sombra */
}
input[type="number"] {
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #D9D9D9;
    border: 15px;
    border-color: rgb(255, 255, 255);
    text-align: left;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-bottom: 1px solid #ccc;
}
button {
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
    border-color: #000000;
    backdrop-filter: blur();
}
button:hover {
    background-color: #00000090;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border-color: #000000;
    backdrop-filter: blur();
}
#result {
    margin-top: 20px;
    background-color: #ffffff56;
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    backdrop-filter: blur(5px);
    display: none;
}
#demand {
    margin-left: 20px;
    margin-right: 20px;
}
@media screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles con un ancho máximo de 600px */
    #square {
        width: 350px;
        margin-right: 0; /* Eliminar el margen derecho */
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Agregar sombra */
    }
}